<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <!-- 내비게이션 바를 작성한다 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">　
        <div class="container">
            <a class="navbar-brand " href="{{ url_for('detector.index') }}">detector</a>
            <!-- 이미지 검색 폼을 추가한다 -->
            {% if url_for(request.endpoint) == url_for('detector.index') or
            url_for(request.endpoint) == url_for('detector.search') %}
            <div class="btn-group">
                <form method="GET" action="{{ url_for('detector.search') }}" name="dtSearchForm">
                    {% if request.args.get("search") %}
                    <input type="search" id="dt-search" class="form-control col-md-12 dt-search" placeholder="検索"
                        name="search" value="{{ request.args.get('search') }}" />
                    {% else %}
                    <input type="search" id="dt-search" class="form-control col-md-12 dt-search" placeholder="検索"
                        name="search" />
                    {% endif %}
                </form>
            </div>
            {% endif %}
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">{{ current_user.username }}</span>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">신규 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- block content를 section class="container"로 둘러싼다 -->
    <section class="container">
        {% block content %}{% endblock %}
    </section>
</body>

</html>