{% extends "auth/base.html" %}

{% block title %}로그인{% endblock %}

{% block content %}
<form action="{{ url_for('auth.login') }}" method="post" novalidate='novalidate'>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    {{ form.csrf_token }}
    
    <p>
        {{ form.email.label }}
        {{ form.email(placeholder="메일 주소")}}
    </p>

    {% for error in form.email.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p>
        {{ form.password.label }}
        {{ form.password(placeholder="비밀번호")}}
    </p>

    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}