{% extends "detector/base.html" %}

{% block title %}로그인{% endblock %}

{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-login">
        <header>로그인</header>
        <section>
            <form method="post" action="{{ url_for('auth.login') }}">
                {% for message in get_flashed_messages() %}
                <span class="dt-auth-flash">{{ message }}</span>
                {% endfor %}
                {{ form.csrf_token }}
                {{ form.email(class="form-control dt-auth-input",placeholder="메일 주소") }}
                {{ form.password(class="form-control dt-auth-input",placeholder="비밀번호") }}
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}